<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>Document</title>
</head>
<body>

    <header>
        {{template "Header" .Theme}}
    </header>

    <main class="w-full h-full flex flex-col justify-center items-center">
        <div>
            {{ template "TaskList" .}}
            <h1>holaaaa</h1>
        </div>
    </main>

    <div>
        {{template "TaskList"}}
    </div>
    
</body>
</html>