<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/style/output.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>TODO LIST</title>
</head>
<body>

    <header>
        {{template "Header" .Theme}}
    </header>

    <main class="w-full min-h-screen bg-gray-100 flex flex-col items-center pt-10">
            {{ template "TaskForm" }}
            {{ template "TaskList" .}}
    </main>

    <div>
        {{template "TaskList"}}
    </div>
    
</body>
</html>