{{define "TaskList" }}

    <div class="w-auto px-4">
        <ul class="bg-white rounded-md shadow-md divide-y divide-gray-200">
            {{range .Tasks}}
                <li class="flex items-center px-6 py-4 w-[26rem]">
                    <input
                        type="checkbox"
                        name="status"
                        class="h-5 w-5 text-blue-600 rounded-full mr-4"
                    />
                    <span class="text-gray-700">{{ .Text }}</span>
                </li>
            {{end}}
        </ul>
    </div>

{{end}}