{{ define "TaskForm" }}

    <div class="w-full max-w-md px-4">
        <form action="" class="bg-white rounded-md shadow-md px-6 py-4 mb-4 flex">
            <button type="submit border-2 border-solid border-black w-[25px] h-[25px]">

            </button>
            <input 
                type="text"
                class="w-full h-12 px-4 text-gray-700 rounded-md focus:outline-none"
                placeholder="Create a new todo..."
                name="TaskInput"
            />
        </form>
    </div>

{{ end }}